body {
    background-image: linear-gradient(to bottom, #ff6b6b, #f06595);
}
  

.carta {
    background-image: url('gatinho.jpeg');
	background-size: cover;
	background-position: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
  
.carta-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.carta-nome {
    margin-top: 0;
    font-size: 24px;
}
  
.carta-foto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
  
.carta-bio {
    margin: 0;
    font-style: italic;
}
  
.carta-corpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}
  
.carta-habilidade-especial, .carta-fraqueza {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
  
.carta-habilidade-titulo, .carta-fraqueza-titulo {
  margin-top: 0;
  font-size: 18px;
}
  
.carta-indice {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
  
.carta-indice-titulo {
  margin-top: 0;
  font-size: 18px;
}
  
.carta-indice-lista {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
  
.carta-indice-lista li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
  
.vermelho {
  background-color: #ff4d4d;
}
  
.amarelo {
  background-color: #ffff4d;
}
  
.verde {
  background-color: #4dff4d;
}
  
.carta-rodape {
  position: relative;
  padding-top: 50%;
}
  
.carta-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 10px;
}