/*Layout página inicial*/

html, body {
	height:100%;
	background: linear-gradient(to bottom,black 60%,#04D939);
	background-attachment: fixed;
}

@font-face {
	font-family: 'Pricedown';
	src: url('fontes/pricedown.otf') format('truetype');
}

div#titulo{
	position: relative;
 	 z-index: 1;
	text-align: center;
	font-size: 40px;
	font-family: 'Pricedown', sans-serif;
	color: #EDEDED;
	line-height: 0.9;
	text-shadow:
	 -1px -1px 0 #000,
	 1px -1px 0 #000,
	 -1px  1px 0 #000,
	 1px  1px 0 #000,
	 -2px -2px 0 #000,
	 2px -2px 0 #000,
	 -2px  2px 0 #000,
	 2px  2px 0 #000;
}

.top {
	height: 370px;
	position: relative;
	background-image: url(fotoHeader.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	overflow: hidden;
}
  
.top::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url(imagens/fotoHeader.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: slideShow 12s linear infinite;
}
  
.top::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url(imagens/fotoFundo2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: slideShow 12s linear infinite;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}
  
@keyframes slideShow {
	0% {
	  opacity: 0;
	  transform: translateX(-50%);
	}
	8.33% {
	  opacity: 1;
	  transform: translateX(0);
	}
	33.33% {
	  opacity: 1;
	  transform: translateX(0);
	}
	41.66% {
	  opacity: 0;
	  transform: translateX(50%);
	}
	100% {
	  opacity: 0;
	  transform: translateX(50%);
	}
}


div#logo{
	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
	z-index: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#logo img {
	position: relative;
	opacity: 0;
	animation-name: aparecer;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes aparecer {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

#menu{
	background-image: linear-gradient(to top, #21c021 0%, #237919 50%);
	margin: 0;
	padding: 1px;
	width: 100%;
    list-style:none;
    text-align: center;
	text-shadow:
	 -1px -1px 0 #000,
	 1px -1px 0 #000,
	 -1px  1px 0 #000,
	 1px  1px 0 #000,
	 -2px -2px 0 #000,
	 2px -2px 0 #000,
	 -2px  2px 0 #000,
	 2px  2px 0 #000;
}

#menu ul li{ 
	display: inline; 
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
	border: 2px solid white;

    /* visual do link */
    background-color: hsla(0, 0%, 0%, 0.5);
    color: whitesmoke;
    text-decoration: none;
	font-family: 'Pricedown', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 10px;
	margin: auto;
}

#menu ul li a:hover{
    background-color:#D6D6D6;
    color: #6D6D6D;
}

#conteudo{
	width: 1050px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(237, 237, 237);
	padding-bottom: 50px;
}

audio{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#temaTitulo{
	font-family: 'Pricedown', sans-serif;
	color: #EDEDED;
	text-shadow:
	 -1px -1px 0 #000,
	 1px -1px 0 #000,
	 -1px  1px 0 #000,
	 1px  1px 0 #000,
	 -2px -2px 0 #000,
	 2px -2px 0 #000,
	 -2px  2px 0 #000,
	 2px  2px 0 #000;
}

div#texto{
	text-align: justify;
	border-color: black;
	border-style: solid;
	border-radius: 1px;
	padding: 20px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

div#siterockstar{
	text-align: center;
	align-items: center;
	clear: both;
}

#mapa{
	margin-left: 2px;
	margin-top: 2px;
}

div#veic{
	text-align: center;
}

div#capa{
	text-align: center;
}

div#rodinha{
	text-align: center;
}


div#menuFim {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top, #21c021 0%, #237919 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}




div#menuFim ul li{ 
	display: inline; 
}

div#menuFim ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color: hsla(0, 0%, 0%, 0.5);
    color: whitesmoke;
    text-decoration: none;
	font-family: 'Pricedown', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 10px;
	margin: auto;
}

div#menuFim ul li a:hover{
    background-color:#D6D6D6;
    color: #6D6D6D;
}

div#galeria{
	display: grid;
	grid-template-areas: 
		'foto1	foto2	foto3'
		'foto4	foto5	foto6'
		'foto7	foto8	foto9'
	;
}

#galeriaFotos{
	
}