/*Layout página inicial*/

html, body {
	height:100%;
	background: linear-gradient(to bottom, black, gray);
	background-attachment: fixed;
}

@font-face {
	font-family: 'Pricedown';
	src: url('fontes/pricedown.otf') format('truetype');
}

div#titulo{
	text-align: center;
	font-size: 40px;
	font-family: 'Pricedown', sans-serif;
	color: #EDEDED;
	line-height: 0.9;
	text-shadow:
	 -1px -1px 0 #000,
	 1px -1px 0 #000,
	 -1px  1px 0 #000,
	 1px  1px 0 #000,
	 -2px -2px 0 #000,
	 2px -2px 0 #000,
	 -2px  2px 0 #000,
	 2px  2px 0 #000;
}

div.top{
	background-image:url("fotoHeader.webp");
	background-size: cover;
	background-position: center;
	text-align: center;
	clear: both;
	border-radius: 5px;
}

div#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#logo img {
	position: relative;
	opacity: 0;
	animation-name: aparecer;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes aparecer {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

#menu{
	background-image: linear-gradient(to top, #21c021 0%, #237919 50%);
	margin: 5px;
	padding: 1px;
	width: 100%;
    list-style:none;
    text-align: center;
	text-shadow:
	 -1px -1px 0 #000,
	 1px -1px 0 #000,
	 -1px  1px 0 #000,
	 1px  1px 0 #000,
	 -2px -2px 0 #000,
	 2px -2px 0 #000,
	 -2px  2px 0 #000,
	 2px  2px 0 #000;
}

#menu ul li{ 
	display: inline; 
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
	border: 2px solid white;

    /* visual do link */
    background-color: hsla(0, 0%, 0%, 0.5);
    color: whitesmoke;
    text-decoration: none;
	font-family: 'Pricedown', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 10px;
	margin: auto;
}

#menu ul li a:hover{
    background-color:#D6D6D6;
    color: #6D6D6D;
}

#conteudo{
	width: 1050px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: #EDEDED;
}

audio{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#temaTitulo{
	font-family: 'Pricedown', sans-serif;
	color: #EDEDED;
	text-shadow:
	 -1px -1px 0 #000,
	 1px -1px 0 #000,
	 -1px  1px 0 #000,
	 1px  1px 0 #000,
	 -2px -2px 0 #000,
	 2px -2px 0 #000,
	 -2px  2px 0 #000,
	 2px  2px 0 #000;
}

div#texto{
	text-align: justify;
	border-color: black;
	border-style: solid;
	border-radius: 1px;
	padding: 20px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

div#siterockstar{
	align-items: center;
	clear: both;
}

div#mapa{
	margin-left: 2px;
	margin-top: 2px;
}

div#veic{
	text-align: center;
}

div#capa{
	text-align: center;
}

div#rodinha{
	text-align: center;
}


div#menuFim{
	background-image: linear-gradient(to top, #21c021 0%, #237919 50%);
	margin: 5px;
	padding: 1px;
    list-style:none;
    text-align: center;
}

div#menuFim ul li{ 
	display: inline; 
}

div#menuFim ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color: hsla(0, 0%, 0%, 0.5);
    color: whitesmoke;
    text-decoration: none;
	font-family: 'Pricedown', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 10px;
	margin: auto;
}

div#menuFim ul li a:hover{
    background-color:#D6D6D6;
    color: #6D6D6D;
}