html, body {height:100%;}

#titulo  {
    font-family: cambria;
    text-align: center;
    color: white;
}

#botao {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

div#menu {
	background-color:#531212;
	padding:0px;
    margin:0px;
    list-style:none;
    text-align: center;
}

div#menu ul li { 
	display: inline;
}

div#menu ul li a {
    padding: 6px 12px;
    margin: 10px;
    display: inline-block;

    /* visual do link */
    border-radius: 5px;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

div#menu ul li a:hover{
    border-radius: 5px;
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #531212;
}

#footer {
    color: azure;
    text-align: center;
}

div#capa {
    text-align: center;
}

div#texto1 {
    color: gainsboro;
    width: 1250px;
    text-align: justify;
    border-color: black;
    border-style: solid;
    font-size: 18px;
    padding: 4px 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #531212;
}

div#gif {
    text-align: center;
}

div#loadingGif {
    text-align: center;
}

#gifcarregando {
    width: 500px;
}

table {
  border-collapse: collapse;
  width: 75%;
}

th, td {
  text-align: left;
  padding: 8px; 
  border: 1px solid black;
}

th {
  background-color: #1f1818;
}

#foto {
    color: azure;
}