@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

:root {
	--primary-color: #E26446;
	--black: #4A4A4C;
	--grey: #9D9D9F;
	--white: #FFFFFF;
	--border: 2rem solid var(--main-color);
}

* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    scroll-padding-top: 6.5rem;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px; /* largura máxima */
    margin: 0 auto; /* centralizar */
}

/* MENU TOPO */
.topo {
	background-color: var(--grey);
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	justify-content: space-around;
	margin: 1rem;
}

.item {
	display: flex;
	padding: 1rem;
}

#menu-btn {
	display: none;
}


/* HOMEPAGE  */
.homePage {
	display: flex;
	justify-content: space-between;
}

.textoMenorHome, .textoMaiorHome h1 {
	margin-top: 1rem;
}

.textoMaiorHome h1 {
	font-size: 28px;
}

#botaoHome {
	color: var(--white);
	background-color: var(--black);
	border: var(--border);
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 1rem;
}